body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.hud {
    display: none;
}
canvas {
    position: absolute;
    top: 0%;
}
.container {
    position: relative;
    width: 80%;
    height: 60vh;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.control {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.sideControl {
    height: 100%;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
}
h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
}
input {
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background: rgba(136, 136, 136, 0.534);
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
#mute {
    display: none;
}
label {
    display: block;
    width: 100px;
    height: 50px;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 27px;
}
.checked {
    width: 44px;
    height: 44px;
    background: url("./soundOff.png");
    background-size: cover;
    border: 3px solid red;
    box-sizing: border-box;
    border-radius: 25px;
    transition: ease-out .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    border: 0;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    background: rgba(2, 250, 15, 0.603);
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
}
.score {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}
.displayNone {
    display: none;
}
.controlPhone {
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: 667;
    bottom: 0;
}
.buttonControl {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background: url('./arrow.png');
    background-size: cover;
}
.buttonUp {
    left: 0;
    bottom: 60px;
    transform: rotate(180deg);
}
.buttonDown {
    left: 0;
    bottom: 0;
}
.buttonRight {
    right: 0;
    bottom: 0;
    transform: rotate(-90deg);
}
.buttonLeft {
    right: 60px;
    bottom: 0;
    transform: rotate(90deg);
}
.restart {
    background: url("./restart.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid red;
}
@media all and (max-width: 1750px) {
    canvas {
        width: 100%;
        height: 100%;
    }
}
@media all and (max-width: 1350px) {
    canvas {
        width: 100%;
        height: 100%;
    }
    h1,
    h2 {
        font-size: 20px;
    }
    button,
    input  {
        width: 80%;
        font-size: 15px;
    }
    .score {
        font-size: 10px;
    }
}
